@charset "UTF-8";
@-webkit-keyframes svg {
  0% {
    fill: transparent;
    stroke-dasharray: 2000px;
    stroke-dashoffset: 2000px;
  }
  60% {
    stroke-dashoffset: 0;
  }
}
@keyframes svg {
  0% {
    fill: transparent;
    stroke-dasharray: 2000px;
    stroke-dashoffset: 2000px;
  }
  60% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes img-wrap-before {
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes img-wrap-before {
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes img-wrap-after {
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes img-wrap-after {
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes marquee {
  /*動作範囲(上級者向けの設定)*/
  from {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  99%,
  to {
    -webkit-transform: translate(-140%);
            transform: translate(-140%);
  }
}

@keyframes marquee {
  /*動作範囲(上級者向けの設定)*/
  from {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  99%,
  to {
    -webkit-transform: translate(-140%);
            transform: translate(-140%);
  }
}

html {
  font-size: 62.5%;
}

html * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

html body {
  background-color: black;
}

html a {
  text-decoration: none;
  cursor: pointer;
}

html li {
  list-style-type: none;
}

html img {
  width: 100%;
  height: auto;
}

html .container {
  overflow-x: hidden;
  position: relative;
}

html .sp-br {
  display: none;
}

@media screen and (max-width: 767px) {
  html .sp-br {
    display: block;
  }
}

html .stop {
  overflow: hidden;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1080px;
  height: 100%;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo--mark {
  margin-right: 20px;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 767px) {
  .header__logo--mark {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }
}

.header__logo--text {
  width: auto;
  height: 30px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

@media screen and (max-width: 767px) {
  .header__logo--text {
    height: 15px;
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  .header__nav {
    display: none;
  }
}

.header__nav.hide {
  display: none;
}

@media screen and (max-width: 1024px) {
  .header__nav.hide {
    display: none;
  }
}

.header__nav--text {
  margin-left: 20px;
  letter-spacing: 0.2em;
  font-family: "Futura-Medium";
}

.header__nav--text::after {
  display: block;
  margin: auto;
  width: 0px;
  height: 1px;
  background: transparent;
  content: "";
  -webkit-transition: width 0.5s ease, background-color 0.5s ease;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.header__nav--text:hover:after {
  width: 100%;
  background: white;
}

.logo__mark--pc, .logo__mark--sp {
  display: none;
  position: relative;
  z-index: 3;
}

.logo__mark--pc path, .logo__mark--sp path {
  opacity: 0.8;
  -webkit-animation: svg 5s ease-in both;
          animation: svg 5s ease-in both;
  stroke: white;
  stroke-width: 1px;
}

@media screen and (max-width: 767px) {
  .logo__mark--pc path, .logo__mark--sp path {
    -webkit-animation: svg 3s ease-in both;
            animation: svg 3s ease-in both;
    stroke-width: 0.5px;
    fill: white;
  }
}

.logo__mark--pc.black path, .logo__mark--sp.black path {
  fill: #000;
}

.logo__mark--pc.show {
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .logo__mark--pc.show {
    display: block;
  }
}

.logo__mark--sp.show {
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .logo__mark--sp.show {
    display: block;
  }
}

.logo__text--pc.show {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

@media screen and (min-width: 768px) {
  .logo__text--pc.show {
    display: block;
  }
}

.logo__text--sp.show {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

@media screen and (max-width: 767px) {
  .logo__text--sp.show {
    display: block;
  }
}

.logo__text--pc, .logo__text--sp {
  display: none;
  position: relative;
  z-index: 3;
}

.logo__text--pc path, .logo__text--sp path {
  opacity: 0.8;
  -webkit-animation: svg 10s ease-in both;
          animation: svg 10s ease-in both;
  stroke: white;
  stroke-width: 1px;
}

@media screen and (max-width: 767px) {
  .logo__text--pc path, .logo__text--sp path {
    -webkit-animation: svg 3s ease-in both;
            animation: svg 3s ease-in both;
    stroke-width: 0.5px;
    fill: white;
  }
}

.logo__text--pc.black path, .logo__text--sp.black path {
  fill: #000;
}

.hamburger-btn {
  z-index: 2;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  opacity: 0.8;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@media screen and (max-width: 1024px) {
  .hamburger-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hamburger-btn.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hamburger-btn__bar {
  margin-top: 3px;
  margin-right: 10px;
}

.hamburger-btn__bar--top, .hamburger-btn__bar--middle, .hamburger-btn__bar--bottom {
  display: block;
  width: 25px;
  height: 2px;
  border-radius: 1px;
  background-color: white;
}

.hamburger-btn__bar--top {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.hamburger-btn__bar--bottom {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.hamburger-btn__text {
  display: block;
  margin-top: 3px;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Futura-Medium";
}

@media screen and (max-width: 767px) {
  .hamburger-btn__text {
    font-size: 1.5rem;
  }
}

.hamburger-btn__text.black {
  color: #333;
}

.hamburger-btn__musk {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  width: 100vw;
  height: 100vh;
}

.slide-nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: white;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.slide-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25vh;
}

.slide-nav__list li {
  display: inline-block;
  margin: 30px auto;
  text-align: center;
  letter-spacing: 0.3em;
  font-size: 3rem;
  font-family: "Futura-Medium";
}

@media screen and (max-width: 767px) {
  .slide-nav__list li {
    font-size: 2.5rem;
    margin: 20px auto;
  }
}

.slide-nav__list li a {
  color: #333;
}

.slide-nav__list li::after {
  display: block;
  margin: auto;
  width: 0px;
  height: 1px;
  background: transparent;
  content: "";
  -webkit-transition: width 0.5s ease, background-color 0.5s ease;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.slide-nav__list li:hover:after {
  width: 100%;
  background: red;
}

.slide-nav__contact {
  margin-top: 10px;
  margin-left: 20px;
}

.slide-nav__contact--top {
  font-size: 1.2rem;
}

.slide-nav__contact--bottom {
  margin-top: 5px;
  font-weight: bold;
  font-size: 1.6rem;
}

.slide-nav__contact img {
  margin-right: 5px;
  width: 10px;
  height: 15px;
}

.slide-nav__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
}

.slide-nav__btn--left, .slide-nav__btn--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 40px;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .slide-nav__btn--left, .slide-nav__btn--right {
    width: 100px;
    height: 30px;
  }
}

.slide-nav__btn--left a, .slide-nav__btn--right a {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.slide-nav__btn--right {
  margin-right: 20px;
  margin-left: 10px;
}

.slide-nav.slide {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.bar.cross.hamburger-btn__bar--top {
  -webkit-transform: translateY(2px) rotate(225deg);
          transform: translateY(2px) rotate(225deg);
}

.bar.cross.hamburger-btn__bar--middle {
  opacity: 0;
}

.bar.cross.hamburger-btn__bar--bottom {
  -webkit-transform: translateY(-2px) rotate(-225deg);
          transform: translateY(-2px) rotate(-225deg);
}

.bar.black {
  background-color: #333;
}

.first-view {
  position: absolute;
  top: 50vh;
  left: 50vw;
  z-index: 10;
  display: none;
  margin: auto;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.first-view__mark {
  margin-left: 30px;
  width: 150px;
}

.first-view__text {
  margin-top: 30px;
  width: 200px;
}

.hero-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/hero-image.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .hero-area {
    height: 70vh;
  }
}

.hero-area__curtain {
  position: relative;
  overflow: hidden;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .hero-area__curtain {
    display: none;
  }
}

.hero-area__curtain:before, .hero-area__curtain:after {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  background: #000;
  content: "";
  -webkit-animation: 4.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
          animation: 4.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  pointer-events: none;
}

.hero-area__curtain::before {
  top: 0;
  bottom: 50%;
  -webkit-animation-name: img-wrap-before;
          animation-name: img-wrap-before;
}

.hero-area__curtain::after {
  top: 50%;
  bottom: 0;
  -webkit-animation-name: img-wrap-after;
          animation-name: img-wrap-after;
}

.hero-area__text-area {
  position: absolute;
  margin: 0 auto;
}

.hero-area__text-area--line {
  margin-left: 5vw;
  width: 90vw;
  height: 2px;
  background-color: red;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.hero-area__text-area--line.slide {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.hero-area__text-area--text {
  position: absolute;
  top: -55px;
  display: inline-block;
  margin-top: 15px;
  padding-left: 724px;
  /*アニメーションの範囲*/
  white-space: nowrap;
  letter-spacing: 0.5em;
  font-size: 8rem;
  font-family: "Futura-Medium";
  -webkit-animation-name: marquee;
          animation-name: marquee;
  /*アニメーションのクラス名*/
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  /*アニメーションの速度*/
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  /*アニメーションのタイミング・進行割合の指定*/
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /*アニメーションの動作回数*/
}

.hero-area__scroll-nav {
  position: absolute;
  top: 80vh;
  left: 50%;
  z-index: 0;
  margin: auto;
  -webkit-transform: translateX(-50%);
  transform: translateY(200px);
  transform: translateX(-50%);
}

@media screen and (max-width: 767px) {
  .hero-area__scroll-nav {
    top: 88%;
  }
}

.hero-area__scroll-nav--text {
  font-size: 2rem;
  font-family: "Futura-Medium";
}

@media screen and (max-width: 767px) {
  .hero-area__scroll-nav--text {
    font-size: 1.4rem;
  }
}

.hero-area__scroll-nav img {
  width: 15px;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.curtain__sp {
  position: absolute;
  z-index: 5;
  border-top: 50vh solid transparent;
  border-right: 50vw solid #000;
  border-bottom: 50vh solid #000;
  border-left: 50vw solid transparent;
}

@media screen and (min-width: 768px) {
  .curtain__sp {
    display: none;
  }
}

.curtain__sp--second {
  position: absolute;
  z-index: 5;
  border-top: 50vh solid #000;
  border-right: 50vw solid transparent;
  border-bottom: 50vh solid transparent;
  border-left: 50vw solid #000;
}

@media screen and (min-width: 768px) {
  .curtain__sp--second {
    display: none;
  }
}

.about {
  margin-top: 240px;
  padding: 0 20px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .about {
    margin-top: 200px;
    padding: 0 15px;
  }
}

.about__title {
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 2px solid red;
  letter-spacing: 1em;
  font-size: 4.5rem;
  font-family: "Futura-Medium";
}

@media screen and (max-width: 767px) {
  .about__title {
    font-size: 5.3vw;
  }
}

.about__title span {
  letter-spacing: 0;
}

.about__image {
  margin: 60px 0;
  width: 145px;
}

@media screen and (max-width: 767px) {
  .about__image {
    margin: 30px 0;
    width: 100px;
  }
}

.about__text {
  font-size: 1.5rem;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .about__text {
    font-size: 1.2rem;
  }
}

.portfolio {
  margin-top: 240px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .portfolio {
    margin-top: 120px;
  }
}

.portfolio__title {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 2px solid red;
  letter-spacing: 1em;
  font-size: 4.5rem;
  font-family: "Futura-Medium";
}

@media screen and (max-width: 767px) {
  .portfolio__title {
    font-size: 5.3vw;
  }
}

.portfolio__title span {
  letter-spacing: 0;
}

.portfolio__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 120px;
}

@media screen and (max-width: 767px) {
  .portfolio__container {
    margin-top: 60px;
  }
}

.portfolio__wrapper {
  -webkit-transition: 1s;
  transition: 1s;
}

.portfolio__wrapper:nth-child(odd) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .portfolio__wrapper:nth-child(odd) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.portfolio__wrapper:nth-child(odd) .portfolio__content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 767px) {
  .portfolio__wrapper:nth-child(odd) .portfolio__content:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.portfolio__wrapper:nth-child(even) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .portfolio__wrapper:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.portfolio__content:nth-child(odd) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__content:nth-child(even) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .portfolio__content:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.portfolio__image {
  width: 25vw;
  height: 25vw;
}

@media screen and (max-width: 767px) {
  .portfolio__image {
    width: 50vw;
    height: 50vw;
  }
}

.portfolio__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25vw;
  height: 25vw;
  background-color: #101010;
}

@media screen and (max-width: 767px) {
  .portfolio__intro {
    width: 50vw;
    height: 50vw;
  }
}

.portfolio__intro--text {
  padding: 20px;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .portfolio__intro--text {
    font-size: 1.5rem;
  }
}

.portfolio__intro--btn {
  letter-spacing: 0.1em;
  font-size: 1.3rem;
  font-family: "Futura-Medium";
  cursor: pointer;
  border: 1px solid white;
  padding: 5px;
  border-radius: 2px;
  opacity: 0.8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio__intro--btn:hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.intro {
  position: absolute;
  top: 5vw;
  left: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.9;
}

@media screen and (max-width: 767px) {
  .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 10vw;
  }
}

.intro__image {
  width: 40vw;
  height: 40vw;
  background-image: url(../img/portfolio1.jpg);
  background-size: cover;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (max-width: 767px) {
  .intro__image {
    width: 80vw;
    height: 50vw;
  }
}

.intro__box {
  margin-left: 10vw;
  padding: 40px;
  width: 40vw;
  height: 40vw;
  background-color: rgba(255, 0, 0, 0.7);
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (max-width: 767px) {
  .intro__box {
    margin-left: 0;
    width: 80vw;
    height: 70vw;
    padding: 30px;
    background-color: gray;
  }
}

.intro__box--title {
  font-size: 4rem;
}

@media screen and (max-width: 1200px) {
  .intro__box--title {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .intro__box--title {
    font-size: 2rem;
  }
}

.intro__box--text {
  margin-top: 40px;
  text-align: left;
  font-size: 2.5rem;
  line-height: 1.5;
}

@media screen and (max-width: 1200px) {
  .intro__box--text {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .intro__box--text {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .intro__box--text {
    margin-top: 20px;
  }
}

.intro__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  font-size: 2.5rem;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .intro__btn {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .intro__btn {
    font-size: 1.5rem;
  }
}

.intro__btn--back {
  margin-right: 20px;
}

.service {
  margin-top: 240px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .service {
    margin-top: 120px;
  }
}

.service__title {
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 2px solid red;
  letter-spacing: 1em;
  font-size: 4.5rem;
  font-family: "Futura-Medium";
}

@media screen and (max-width: 767px) {
  .service__title {
    font-size: 5.3vw;
  }
}

.service__title span {
  letter-spacing: 0;
}

.service__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 1080px;
}

@media screen and (max-width: 767px) {
  .service__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.service__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 120px;
  max-width: 320px;
}

@media screen and (max-width: 767px) {
  .service__content {
    margin-top: 60px;
  }
}

.service__content--title {
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: lighter;
  font-size: 3rem;
  font-family: "Futura-Medium";
}

.service__content--image {
  margin-top: 30px;
  width: auto;
  height: 150px;
}

.service__content--text {
  margin-top: 30px;
  text-align: left;
  font-size: 1.6rem;
  line-height: 1.5;
}

.contact {
  margin-top: 240px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  max-width: 1080px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .contact {
    margin-top: 120px;
  }
}

.contact__left, .contact__right {
  width: 100%;
  text-align: left;
}

.contact input,
.contact textarea {
  padding: 20px;
  width: 500px;
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  background-color: inherit;
  font-size: 2rem;
  resize: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

@media screen and (max-width: 1080px) {
  .contact input,
  .contact textarea {
    width: 45vw;
  }
}

.contact input::-webkit-input-placeholder,
.contact textarea::-webkit-input-placeholder {
  font-size: 1.5rem;
}

.contact input:-moz-placeholder,
.contact textarea:-moz-placeholder {
  font-size: 1.5rem;
}

.contact input::-moz-placeholder,
.contact textarea::-moz-placeholder {
  font-size: 1.5rem;
}

.contact input:-ms-input-placeholder,
.contact textarea:-ms-input-placeholder {
  font-size: 1.5rem;
}

@media screen and (max-width: 767px) {
  .contact input,
  .contact textarea {
    width: 100%;
  }
}

.contact input {
  margin-bottom: 40px;
}

.contact textarea {
  height: 315px;
}

.contact__title {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 2px solid red;
  letter-spacing: 1em;
  font-size: 4.5rem;
  font-family: "Futura-Medium";
}

@media screen and (max-width: 767px) {
  .contact__title {
    font-size: 5.3vw;
  }
}

.contact__title span {
  letter-spacing: 0;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
}

@media screen and (max-width: 767px) {
  .contact__form {
    margin-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .contact__form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__content--text {
  font-size: 2rem;
  font-family: "Futura-Medium";
}

@media screen and (max-width: 767px) {
  .contact__content--text {
    font-size: 1.6rem;
  }
}

.contact__send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 30px;
}

.contact__send--text {
  margin-right: 20px;
  margin-left: 40px;
  font-size: 2rem;
  font-family: "Futura-Medium";
}

@media screen and (max-width: 767px) {
  .contact__send--text {
    font-size: 1.6rem;
  }
}

.contact__send svg {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 767px) {
  .contact__send svg {
    width: 20px;
    height: 20px;
  }
}

.contact__send svg g {
  fill: white;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px auto 20px auto;
  padding: 0 20px;
  max-width: 1080px;
}

@media screen and (max-width: 767px) {
  .footer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__left {
  letter-spacing: 0.2em;
  font-size: 1.8rem;
  font-family: "Futura-Medium";
}

@media screen and (max-width: 767px) {
  .footer__left ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 374px) {
  .footer__left ul {
    display: block;
    text-decoration: underline;
  }
}

.footer__left ul li {
  display: inline-block;
}

.footer__left ul li::after {
  display: block;
  margin: auto;
  width: 0px;
  height: 1px;
  background: transparent;
  content: "";
  -webkit-transition: width 0.5s ease, background-color 0.5s ease;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.footer__left ul li:hover:after {
  width: 100%;
  background: white;
}

.footer__left--text {
  margin-top: 20px;
}

@media screen and (min-width: 374px) and (max-width: 768px) {
  .footer__left--text {
    margin: 0;
    padding: 0 5px;
    font-size: 1.5rem;
    border-right: 1px solid white;
  }
}

.footer__left--text:first-child {
  margin-top: 0;
  padding-left: 0;
}

.footer__left--text:last-child {
  border-right: none;
}

.footer__right {
  text-align: right;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-size: 1.8rem;
}

@media screen and (max-width: 767px) {
  .footer__right {
    margin-top: 30px;
    text-align: left;
    font-size: 1.2rem;
  }
}

.footer__right--bottom {
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */
